workflows/02_knowledge_ingestion.json
{
  "name": "WAS · 02 Knowledge Ingestion",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "knowledge-ingest",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "n_2",
      "name": "Ingest Trigger (POST)",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        0,
        300
      ],
      "webhookId": "wh_1"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $env.WAS_DASHBOARD_INTERNAL_URL }}/api/knowledge/ingest",
        "options": {},
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify($json.body || $json) }}"
      },
      "id": "n_3",
      "name": "Engine: Ingest Knowledge",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        240,
        300
      ],
      "continueOnFail": true
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ $json }}",
        "options": {}
      },
      "id": "n_4",
      "name": "Done",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        480,
        300
      ]
    },
    {
      "parameters": {
        "content": "## Workflow 2 — Knowledge Ingestion\nBody: { business_id } or { document_id }.\nEngine cleans → chunks → embeds → stores vectors (pgvector/Qdrant) with business_id metadata. RAG search always filters by business_id.",
        "width": 620,
        "height": 160,
        "color": 4
      },
      "id": "n_5",
      "name": "Notes",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        0,
        60
      ]
    }
  ],
  "connections": {
    "Ingest Trigger (POST)": {
      "main": [
        [
          {
            "node": "Engine: Ingest Knowledge",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Engine: Ingest Knowledge": {
      "main": [
        [
          {
            "node": "Done",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "pinData": {},
  "meta": {
    "templateId": "was-engine"
  }
}